<!DOCTYPE HTML>
<html>
<head>
    <title>Erro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color:#00BFFF;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	<div> O numero de times dentro do campeonato já é igual a 20, caso deseje inserir um time, é necessário tirar um time ou mais para que possa incluir o time</div>
	<div>
		<li><a href="/CadastrarTime">Cadastrar Time</a></li>
        <li><a href="/LimparTime">Limpar Time</a></li>
		<li><a href="/ListarTime">Listar Times</a></li>
	</div>	
</body>
</html>