<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color:#228B22;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	
	<p> Excluir Time </p>
	
	<div class="row-2">
		<div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 p-1">
       		<form action="#" th:action="@{/LimparTime}" th:object="${time}" method="post">
				<p>Nome: <input type="text" th:field="*{numero_time}" th:value="${time.numero_time}" placeholder="id do time" required></p> 
				<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
			</form>
		</div>
	</div>
	
	<div class="row-2">
		<div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 p-1">
 			<ul class="list-group">
        		<li><a href="/CadastrarTime" class="list-group-item list-group-item-action list-group-item-success p-1">Cadastrar Time</a></li>
        		<li><a href="/ListarTime" class="list-group-item list-group-item-action list-group-item-success p-1">Listar Time</a></li>
       			<li><a href="/SortearTimes" class="list-group-item list-group-item-action list-group-item-success p-1">Sortear Times</a></li>
			</ul>
		</div>
	</div>
	
	<div th:replace="fragments/script :: script">...</div> 
	
</body>
</html>