<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Limpar Time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color:#00BFFF;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	<div>
       	<form action="#" th:action="@{/LimparTime}" th:object="${time}" method="post">
		<p>Nome: <input type="text" th:field="*{numero_time}" th:value="${time.numero_time}" placeholder="id do time" required></p> 
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		</form>
	</div>
</body>
</html>