<!DOCTYPE HTML>
<html>
<head>
    <title>Listar Partidas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
	<div style="background-color:#00BFFF;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	<div class="container">
   	<table class="bordered striped centered">
    <thead>
      <tr>
        <th>numero rodada</th>
        <th>Nome partida</th>
        <th>Time A</th>
        <th>Time B</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="ls : ${lista}">
      	<td th:text="${ls.Numero_rodada}"></td>
     	<td th:text="${ls.Numero_partida}"></td>
        <td th:text="${ls.Time_a.nome_time}"></td>
        <td th:text="${ls.Time_b.nome_time}"></td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>