<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:#D3D3D3">
	<div style="background-color:#228B22;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2>Simulação Campeonato Brasileiro</h2>
	</div>
	
	<div style="text-align:center"><a class="btn btn-light btn-sm" href="/" role="button" ><i class="fas fa-home px-2"></i></a></div>
	
	<div class="container">
   	<table class="bordered striped centered">
    <thead>
      <tr>
        <th>numero rodada</th>
        <th>Nome partida</th>
        <th>Time A</th>
        <th>Time B</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="ls : ${lista}">
      	<td th:text="${ls.Numero_rodada}"></td>
     	<td th:text="${ls.Numero_partida}"></td>
        <td th:text="${ls.Time_a.nome_time}"></td>
        <td th:text="${ls.Time_b.nome_time}"></td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>