<!DOCTYPE HTML>
<html>
<head>
    <title>Listar Campeonato</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color:#00BFFF;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	<div>
		<p>
		O campeonato é composto por.<br>
		2 turno.<br>
		19 rodadas por turno.<br>
		10 partidas por rodada.<br>
		20 clubes.
		</p>
		<nav>
 			<ul class="menu">
        		<li><a href="/CadastrarCampeonato">Cadastrar Campeonato</a></li>
				<li><a href="/LimparCampeonato">Limpar Campeonato</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>