<!DOCTYPE HTML>
<html>
<head>
    <title>Sortear Resultados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color:#00BFFF;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	<p> Sorteio realizado </p>
	<div style="font-size:20;text-align:left">
		<nav>
 			<ul class="menu">
        		<li><a href="/VerResultados">Ver Resultados</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>