<!DOCTYPE HTML>
<html>
<head>
    <title>Ver Resultados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
	<div style="background-color:#00BFFF;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	<div class="container">
   	<table class="bordered striped centered">
    <thead>
      <tr>
        <th>Nome time</th>
        <th>Pontos</th>
        <th>Vitorias</th>
        <th>Derrotas</th>
        <th>Empates</th>
        <th>Gols pro</th>
        <th>Gols contra</th>
        <th>Saldo gols</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="ls : ${lista}">
      	<td th:text="${ls.Nome_time}"></td>
     	<td th:text="${ls.Pontos}"></td>
        <td th:text="${ls.Vitorias}"></td>
        <td th:text="${ls.Derrotas}"></td>
        <td th:text="${ls.Empates}"></td>
     	<td th:text="${ls.Gols_pro}"></td>
        <td th:text="${ls.Gols_contra}"></td>
        <td th:text="${ls.Saldo_gols}"></td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>