<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:#D3D3D3">
	<div style="background-color:#228B22;text-align:center">
		<h1>Projeto TI São Judas</h1>
		<h2><a href="/">Simulação Campeonato Brasileiro</a></h2>
	</div>
	
	<div class="container">
   	<table class="bordered striped centered">
    <thead>
      <tr>
        <th>Nome time</th>
        <th>Pontos</th>
        <th>Vitorias</th>
        <th>Derrotas</th>
        <th>Empates</th>
        <th>Gols pro</th>
        <th>Gols contra</th>
        <th>Saldo gols</th>
        <th>Aproveitamento</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="ls : ${lista}">
      	<td th:text="${ls.Nome_time}"></td>
     	<td th:text="${ls.Pontos}"></td>
        <td th:text="${ls.Vitorias}"></td>
        <td th:text="${ls.Derrotas}"></td>
        <td th:text="${ls.Empates}"></td>
     	<td th:text="${ls.Gols_pro}"></td>
        <td th:text="${ls.Gols_contra}"></td>
        <td th:text="${ls.Saldo_gols}"></td>
        <td th:text="${ls.Aproveitamento}"></td>
      </tr>
    </tbody>
  </table>
  </div>
  
</body>
</html>