<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
	</head>
	<body>
		<div th:fragment="script">
			<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
			<script type="text/javascript" src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript" src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
			<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		</div>
	</body>
</html>
